html, body {
  html, body {
    font-family:'open sans', sens-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #0c5b88;
    background-color: #06a098
    background-position: 0%;
    backface-visibility: visible;
    backdrop-filter: auto;
    height: 100%;
    display: flexbox;
    offset-distance: auto;
    margin: 0;
    padding: 0;
   
}
div {
background-color:#846213
}
